@inherits LayoutComponentBase

<div class="w-100 h-100 mx-auto flex-column d-flex">
    <div class="nav-main sticky-top">
        <NavBar />
    </div>

    @Body

    <footer id="sticky-footer" class=" mt-auto py-3 text-center">
        <span class="text-muted">&copy 2020 - Coolicky</span>
    </footer>
</div>