<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="images/Coolicky_Logo_W.svg" class="logo" width="35" height="35" alt="" loading="lazy">
            <span class="align-middle ml-1 coolicky">Coolicky</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="Identity" href="Identity/Account/Manage"><span>@context.User.Identity.Name</span></a>
                        </li>
                        <li class="nav-item active">
                            <form method="post" action="Identity/Account/Logout">
                                <button type="submit" class="nav-link btn btn-link"><span>Logout</span></button>
                            </form>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item active">
                            <a class="nav-link" id="login" asp-area="Identity" href="Identity/Account/Login"><span>Login</span></a>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </nav>
</div>

@code {

}