@page "/showcase/VirtualReality"
    <div class="flex-column container d-flex">
        <div class="mx-4 my-5">
            <h1 class="display-2 font-weight-bold">Virtual Reality</h1>
            <hr class="hr-large border-white my-4 ml-0 text-left w-25" />
            <p class="lead secondary-text">Under Construction </p>
        </div>
    </div>

    @code {

    }