@page
@model ForgotPasswordConfirmation
@{

}
<div class="h-100 text-center row">
    <div class="col-12 form-signin">
        <h1>Forgot Password</h1>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>